body {
  background-image: linear-gradient(to bottom right, blue, purple, black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 34px;
  line-height: 1.5;
  font-color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
