<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Website - About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
<img src="{{ url_for('static', filename='OlFirefox.jpg') }}" alt="picture of my desktop icon of old firefox data">

</head>
<body>
<h1>Darrin Bellamy</h1>
<p>I am a computer science major who did INFO2180 last year. My old computer broke and I had multiple errors creating this project, such as "WARNING: The script flask.exe is installed in 'C:\Users\Administrator\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\Scripts' which is not on PATH. I also did not copy+paste any of that error, and wrote it by sight. I also had issues with the virtual environment code not working either and I had to look up a correct one. The original website also had a werkzeug.routing.exceptions.BuildError in it too. It is very late in the night and I hope this works when I send it."</p>
</body>
</html>